<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">


    <import resource="classpath*:applicationContext-dao.xml"/>


    <bean id="txManagerBggwebdb" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactoryBggwebdb"></property>
    </bean>

    <tx:advice  id="txAdviceBggwebdb" transaction-manager="txManagerBggwebdb">
        <tx:attributes>
            <tx:method name="save*" read-only="false"  isolation="REPEATABLE_READ"  propagation="REQUIRED"   rollback-for="RuntimeException"/>
            <tx:method name="update*"  read-only="false" propagation="REQUIRED" isolation="REPEATABLE_READ"  rollback-for="RuntimeException" />
            <tx:method name="insert*"  read-only="false" propagation="REQUIRED"  isolation="REPEATABLE_READ"  rollback-for="RuntimeException"/>
            <tx:method name="add*" read-only="false"  propagation="REQUIRED" rollback-for="RuntimeException"  isolation="REPEATABLE_READ"/>
            <tx:method name="modify*"  read-only="false" propagation="REQUIRED" rollback-for="RuntimeException"  isolation="REPEATABLE_READ"/>
            <tx:method name="del*" read-only="false" propagation="REQUIRED" rollback-for="RuntimeException"  isolation="REPEATABLE_READ"/>
            <tx:method name="crud*" read-only="false" propagation="REQUIRED" rollback-for="RuntimeException"
                       isolation="REPEATABLE_READ"/>
            <tx:method name="register*" read-only="false" propagation="REQUIRED" rollback-for="RuntimeException"  isolation="REPEATABLE_READ"/>

            <tx:method name="get*" propagation="REQUIRED" read-only="true" isolation="REPEATABLE_READ"/>
            <tx:method name="find*" propagation="REQUIRED" read-only="true" isolation="REPEATABLE_READ"/>
            <tx:method name="query*" propagation="REQUIRED" read-only="true" isolation="REPEATABLE_READ"/>
            <tx:method name="*" propagation="REQUIRED" read-only="true"  isolation="REPEATABLE_READ"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut expression="execution (* com.bggbi..service.impl.*.*(..) )" id="bggwebdbPT"/>
        <aop:advisor advice-ref="txAdviceBggwebdb" pointcut-ref="bggwebdbPT"/>
    </aop:config>

    <context:component-scan base-package="com.bggbi.query.param.service.impl"/>
    <context:component-scan base-package="com.bggbi.jasper.service.impl"/>



    <!--



        <aop:config>
            <aop:pointcut expression="execution (* com.bggbi..service.impl.*.*(..) )" id="bggwebdb"/>
            <aop:advisor advice-ref="txAdviceBggwebdb" pointcut-ref="bggwebdb"/>
        </aop:config>


        <context:component-scan base-package="com.bggbi.jasper.service.impl"/>
        <context:component-scan base-package="com.bggbi.query.param.service.impl"/>

         <context:component-scan base-package="com.bggbi.query.param.service.impl"/>
         <context:component-scan base-package="com.bggbi.jasper.service.impl"/>

        -->


</beans>