<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">


    <import resource="classpath*:applicationContext-pojo.xml"/>
    <context:component-scan base-package="com.bggbi.query.param.dao.impl"/>
    <context:component-scan base-package="com.bggbi.basedao.impl"/>

    <bean name="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="fileEncoding" value="UTF-8" />
        <property name="locations">
            <list>
                <value>classpath*:bggweb-db.properties</value>
            </list>
        </property>
    </bean>

    <!-- 数据库连接池 -->
    <bean name="bggwebdb" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close" init-method="init">
        <property name="url" value="${bggwebdb.url}" />
        <property name="username" value = "${bggwebdb.username}" />
        <property name="password" value ="${bggwebdb.password}" />
        <property name = "driverClassName" value = "${bggwebdb.driverClassName}" />
        <property name="maxActive" value = "${bggwebdb.maxActive}" />
        <property name="initialSize" value = "${bggwebdb.initialSize}" />
        <property name="maxWait" value = "${bggwebdb.maxWait}" />
        <property name="minIdle" value = "${bggwebdb.minIdle}" />
    </bean>


    <!-- 配置sessionFactory -->
    <bean id="sessionFactoryBggwebdb" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">

        <property name="dataSource" ref="bggwebdb"/>

        <property name="configLocations" value="classpath*:hibernate-mysql.cfg.xml"></property>
        <property name="mappingLocations">
            <list>
                <value>classpath*:com/bggbi/basedoc/pojo/*.hbm.xml</value>
            </list>


        </property>
    </bean>

    <bean id="hibernateTemplateBggwebdb" class="org.springframework.orm.hibernate5.HibernateTemplate" scope="singleton" >
        <property name="sessionFactory" ref="sessionFactoryBggwebdb"></property>
    </bean>






</beans>