@charset "UTF-8";

.nav {
    width: 100%;
    height: 50px;
    background-color: #293C55;
}

.left-fun {
    position: absolute;
    width: 180px;
    height: 100%;
    background-color: #293C55;
    top: 52px;
    bottom: 2px;
    left: 0;

}

.left-fun  li {
    width: 180px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.left-fun li  a {
    font: 600 15px/30px  "Microsoft YaHei "
}


.nav .para-tool  li{
    float: left;
    padding-top:24px ;
    margin-right: 20px;
}

.nav .para-tool  li  a {
    display: inline-block;
    font: 600 12px/24px "Microsoft YaHei UI";
    height: 24px;
    line-height: 24px;
    color: #FFFFFF;

}
.main-container {
    position: absolute;
    top:52px;
    left:182px ;
    bottom: 2px;
    right: 2px;
    height: 100%;
}

.main-frame {
    width: 100%;
    height: 100%;
    frameborder :0 ;
    scrolling: no ;
}


.para-dialog {
    position: fixed;
    top:50% ;
    left: 50%;
    width: 600px;
    height: 600px;
    margin-left: -300px;
    margin-top: -300px;
    padding: 0 20px;
    z-index: 10;
    background-color: #d3d3d3;
}

.close-para-dialog  {
    display:  block;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 19px;
    height: 19px;
    background: url("../img/close-banner.png")  0  0 no-repeat ;
}




